MONGO_URL=mongodb://localhost:27017
DB_NAME=vault
CORS_ORIGINS=http://localhost:5173

# Auth
JWT_SECRET_KEY=change-this-to-a-long-random-string
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# USA Oregon
# vyamshu_db_user
# GoyjvkZibxCzqNjD

# IND Mumbai
# testclaude4653_db_user
# imVI4AhRh7hpthxl
# mongodb+srv://testclaude4653_db_user:imVI4AhRh7hpthxl@cluster0.otuleco.mongodb.net/?appName=Cluster0